<template>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-10">
              <div class="card">
                  <div class="card-header">
                      <h4>Create New Course</h4>
                  </div>
                  <div class="card-body">
                      <form class="form-action" @submit.prevent="handleSubmit">
                          <div class="form-group">
                              <label for="course">Course</label><br>
                              <input type="text" id="course" v-model="form.course" class="form-control">
                              <p class="text-danger" v-if="errors.course">{{errors.course[0]}}</p>
                          </div>
                          <div class="form-group">
                              <label for="description">Description</label><br>
                              <textarea id="description" v-model="form.description" class="form-control"></textarea>
                              <p class="text-danger" v-if="errors.description">{{errors.description[0]}}</p>
                          </div>
                          <button type="submit" class="btn btn-primary">Add</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            form:{
                course:'',
                description:''
            },
            errors:{},
        }
    },
    methods:{
        async handleSubmit(){
            try{
                await axios.post('/api/course',this.form).then(response=>{
                    this.form ={}
                    this.errors={}
                    window.open('/course','_self')
                })
            }catch(e){
                this.errors = e.response.data.errors;
            }
        }
    }
}
</script>

<style>

</style>