<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header">
            <h4 style="float:left">Daftar Course yang Tersedia</h4>

            <div style="float:right" v-if="user.role=='admin'">
              <a href="/course/create" class="btn-primary btn btn-sm ml-3">+ Course</a>
              <a href="/materi/create" class="btn-primary btn btn-sm ml-3">+ Materi</a>
            </div>
          </div>
          <div class="card-body">
            <detail-course-component v-for="course in courses" :course="course" :key="course.id" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BusEvent from "../../bus";

export default {
  data() {
    return {
      user: [],
      courses: [],
    };
  },
  mounted() {
    this.getCourse();

    BusEvent.$on("delete.course", (e) => {
      this.courses = this.courses.filter((course) => {
        return course.id !== e.id;
      });
    });
  },
  methods: {
    async getCourse() {
      await axios.get("/api/course").then((response) => {
        this.courses = response.data.data;
        this.user = Laravel.user;
      });
    },
  },
};
</script>
