<template>
  <div class="course">
    <div class="course-title" @click="show">
      <div style="float:left">
        <b>{{course.course}}</b>
        <p>{{course.description}}</p>
      </div>
      <div style="float:right">
        <a
          v-if="user.role=='admin'"
          :href="'/course/edit/'+course.id"
          class="btn-warning btn btn-sm ml-3"
        >Edit</a>
        <a
          v-if="user.role=='admin'"
          @click.prevent="deleteCourse"
          class="btn-danger btn btn-sm ml-3"
        >Hapus</a>
      </div>
      <div style="clear:both"></div>
    </div>
    <div class="detail-course" v-if="showDetailCourse">
      <ul>
        <li v-for="materi in course.materi" :key="materi.id">
          <a
            style="display:inline-block"
            class="mr-3"
            :href="'/materi/detail/'+materi.id"
          >{{materi.title}}</a>

          <div style="display:inline-block" v-if="user.role=='admin'" class="py-1">
            <a
              :href="'/materi/edit/'+materi.id"
              style="display:inline-block"
              class="btn btn-warning btn-sm mr-3"
            >Edit</a>
            <a @click.prevent="deleteMateri(materi.id)" class="btn btn-danger btn-sm">Delete</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import BusEvent from "../../bus";

export default {
  data() {
    return {
      user: [],
      showDetailCourse: false,
    };
  },
  mounted() {
    this.user = Laravel.user;
  },
  methods: {
    show() {
      this.showDetailCourse = !this.showDetailCourse;
    },
    async deleteCourse() {
      try {
        let q = window.confirm("Are you sure want to delete this course?");
        if (q) {
          await axios
            .delete(`/api/course/${this.course.id}`)
            .then((response) => {
              BusEvent.$emit("delete.course", this.course);
            });
        }
      } catch (e) {
        console.log(e.response);
      }
    },
    async deleteMateri(id) {
      let q = window.confirm("Are you sure want to delete this materi?");
      if (q) {
        try {
          await axios.delete(`/api/materi/${id}`).then((response) => {
            this.course.materi = this.course.materi.filter((materi) => {
              return materi.id !== id;
            });
          });
        } catch (e) {
          console.log(e.response);
        }
      }
    },
  },
  props: ["course"],
};
</script>

<style>
.course-title {
  cursor: pointer;
}
</style>
