<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header h3">{{materi.title}}</div>
          <div class="card-body">
            <div v-html="materi.link_youtube"></div>
            <div class="text-justify py-2">{{materi.description}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      materi: [],
    };
  },
  mounted() {
    let currentPath = window.location.pathname; //  /materi/detail/id materi
    currentPath = currentPath.replace("/detail", "");

    axios.get(`/api${currentPath}`).then((response) => {
      this.materi = response.data.data;
    });

    console.log(Laravel);
  },
};
</script>

<style>
iframe {
  width: 100%;
  height: 400px;
}
</style>