<template>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-10">
              <div class="card">
                  <div class="card-header">
                      <h4>Edit Materi</h4>
                  </div>
                  <div class="card-body">
                      <form class="form-action" @submit.prevent="handleSubmit">
                        <div class="form-group">
                            Course <br>
                            <select class="form-control" @change="selectCourse">
                                <template v-for="course in courses">
                                    <option :key="course.id" v-if="course.id==form.course_id" :value="course.id" selected>{{course.course}}</option>
                                    <option :key="course.id" v-if="course.id!=form.course_id" :value="course.id">{{course.course}}</option>
                                </template>
                            </select>
                            <p class="text-danger" v-if="errors.course_id">{{errors.course_id[0]}}</p>
                        </div>
                        <div class="form-group">
                            Title <br>
                            <input type="text" class="form-control" v-model="form.title">
                            <p class="text-danger" v-if="errors.title">{{errors.title[0]}}</p>
                        </div>
                        <div class="form-group">
                            Link Youtube (embedded link)<br>
                            <input type="text" class="form-control" v-model="form.link_youtube">
                            <p class="text-danger" v-if="errors.link_youtube">{{errors.link_youtube[0]}}</p>
                        </div>
                        <div class="form-group">
                            Description <br>
                            <textarea class="form-control" v-model="form.description"></textarea>
                            <p class="text-danger" v-if="errors.description">{{errors.description[0]}}</p>
                        </div>
                        <button type="submit" class="btn btn-primary">Edit</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            courses:{},
            form:{
                course_id:'',
                title:'',
                link_youtube:'',
                description:''
            },
            errors:{},
        }
    },
    mounted(){
        this.getFormData()

        axios.get('/api/course').then(response=>{
            this.courses = response.data.data
        })

    },
    methods:{
        async handleSubmit(){
            let currentPath = window.location.pathname; //  /materi/edit/id materi
            currentPath = currentPath.replace('/edit','');//  /materi/id materi

            try{
                await axios.patch(`/api${currentPath}`, this.form).then(response=>{
                    this.form={}
                    this.errors={}
                    window.open('/course','self')
                })
            }catch(e){
                this.errors= e.response.data.errors;
            }
        },
        async getFormData(){
            let currentPath = window.location.pathname; //  /materi/edit/id materi
            currentPath = currentPath.replace('/edit','');//  /materi/id materi

            await axios.get(`/api${currentPath}`).then(response=>{
                this.form = response.data.data
            })
        },
        selectCourse(e){
            this.form.course_id = e.target.value
        }
    }
}
</script>

<style>

</style>