<template>
  <div class="comment-list">
    <div class="messages" :key="index" v-for="(comment,index) in comments">
      <div class="users">
        <hr class="my-1">
        <b>{{comment.user.name}}</b>
        <span class="time">{{comment.created_at}}</span>
      </div>
      <div class="message">{{comment.subject}}</div>
    </div>
  </div>
</template>

<script>
import BusEvent from "../../bus";
export default {
  data() {
    return {
      comments: {},
    };
  },
  mounted() {
    this.getAllComments();
    BusEvent.$on("comment.sent", (newComment) => {
      this.comments.unshift(newComment);
    });
  },
  methods: {
    async getAllComments() {
      try{
        await axios.get("/api/comment").then((response) => {
          this.comments = response.data.data;
        });
      }catch(e){
        console.log(e.response)
      }
    },
  },
};
</script>