<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Comment</div>
          <div class="card-body">
            <comment-form-component />
            <comment-message-component />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>