<template>
  <div class="mb-2">
    <form class="form-action">
      <div>
        <textarea
          placeholder="Input your comment"
          class="form-control"
          cols="30"
          rows="2"
          v-model="body"
          @keydown="handleInput"
        ></textarea>
      </div>
    </form>
  </div>
</template>

<script>
import moment from "moment";
import BusEvent from "../../bus";
export default {
  data() {
    return {
      body: "",
    };
  },
  methods: {
    handleInput(e) {
      if (e.keyCode === 13 && !e.shiftKey) {
        e.preventDefault();
        this.submit();
      }
    },
    async submit() {
      let bodyInput = this.body.trim();
      if (bodyInput === "") {
        return;
      }
      let newComment = {
        subject: bodyInput,
        created_at: moment().utc(7).format("YY-MM-DD HH:mm:ss"),
        user: {
          name: Laravel.user.name,
        },
      };
      try{
        await axios.post("/api/comment",{subject:bodyInput}).then((response) => {
          BusEvent.$emit("comment.sent", newComment);
          this.body = "";
        });
      }catch(e){
        console.log(e.response);
      }
    },
  },
};
</script>

<style>
</style>script