<template>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-10">
              <div class="card">
                  <div class="card-header">
                      Donate Form
                  </div>
                  <div class="card-body">
                      <form class="form-action" @submit.prevent="handleDonate">
                            <div class="form-group">
                                <label>Amount of donate</label>
                                <input type="number" v-model="data_midtrans.transaction_details.gross_amount" class="form-control">
                            </div>
                          <button type="submit" class="btn btn-primary">Donate</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
// script import midtrans beserta input client key ada di component root (bagian bawah head)
export default {
    data(){
        return{
            data_midtrans:{
                transaction_details:{
                    order_id: 'order-'+new Date().getTime(),
                    gross_amount:''
                },
                customer_details:{
                    first_name: Laravel.user.name,
                    email: Laravel.user.email
                }
            }
        }
    },
    methods:{
        async handleDonate(){
            try {
                await axios.post('/api/generate',{data:this.data_midtrans}).then(response=>{
                    snap.pay(response.data.data.token)
                })   
            } catch (error) {
                console.log(error.response);
            }
            console.log(this.data_midtrans);
        }
    }
}
</script>

<style>

</style>